<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkerboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}"/>
    </head>
    <body>
    <h2 style="color:{{color1}}; background-color:{{color2}}"> *** Checkerboard ***
    </h2>
    <div class="container">
        <table>
            {%for i in range(0,y):%}
                <tr>
                    {%for j in range (0,x)%} 
                        {%if (i+j)%2 == 0%}
                            <td class="smallbox" style="background-color:{{color1}}"></td>
                        {%else%}
                            <td class="smallbox" style="background-color:{{color2}}"></td>
                        {%endif%} 
                    {%endfor%}
                </tr>
            {%endfor%}
        </table>
    </div>
    </body>
</html>
